.row
  .col
    %h1 
      Two Factor Authentication
    %hr
.row
  .col-lg-4
    .card
      = form_tag check_2fa_path do 
        .field.form-group
          = label_tag :code, "Verification Code"
          %br
          = text_field_tag :token, '', class: "form-control"
  
        .actions
          %button{type: :submit, class: "btn btn-success" } Login