= f.label :barbershops, "Barbershop name"
%br
= f.text_field :barbershop_name, autofocus: true, class: "form-control"

= f.label :price, "Price of haircut, numbers only"
%br
= f.text_field :price, autofocus: true, class: "form-control"
