%h1
  Barbershop Edit
.row
  .col-lg-3
    .card.p-2
      %p
        Sign in as:
        - if !current_barbershop
          - @barbershops.each do |barbershop|
            = link_to "#{barbershop.barbershop_name}", select_barbershop_path(barbershop), method: :post
        - if current_barbershop.present?
          = link_to "#{current_user.name}", barbershop_logout_path
